Your (Virtual) Break was confirmed:
%br
%br
Date: #{@lunch.date}
%br
Time: 15:00 - 15:30
%br
-# Restaurant Vorschlag: #{@lunch.group.restaurant}
%br
%br
Your Break Gruppe consists of:
%br
%br
  - @lunch.group.lunches.each do |lunch|
    = lunch.user.name
    - if @lunch.group.leader == lunch.user
      (Teamlead)
    %br

%br
-# Trefft euch am besten um 12 Uhr beim Eingang zum Oval und lauft zusammen zum Restaurant.
%br
-# Gerne könnt ihr natürlich auch eine andere Uhrzeit ausmachen oder zu einem anderen Restaurant gehen.
Of course, you are free to schedule another time.
%br
%br
@#{@lunch.group.leader.name} (Teamlead):
%br
-# Bitte sorge dafür, dass alle aus der Lunch Gruppe Bescheid wissen, solltet ihr etwas anderes als die Vorschläge ausmachen. Gerne kannst du auch im Restaurant reservieren.
Please create a Teams appointment and invite everybody from your Break.
%br
%br
= link_to 'Click here', login_user_url(@lunch.user.to_sgid.to_s, redirect: root_url(date: @lunch.date, only_path: true))
to see your Break group.
