= form_with method: :get, class: 'margin' do
  .small-margin
    = label_tag :date
    = date_field_tag :date, @date, required: true, onchange: 'this.form.submit()'
    Every Wednesday from 15:00 - 15:30
- if @can_register
  .margin
    = link_to 'Register for your virtual coffee now!', lunches_path(date: @date), method: :post, class: 'button primary button-w100'

- elsif @current_user.lunches.on(@date).any?
  %h2.dinline.p0.green You already booked a coffee break for #{@date}!
  = link_to 'Cancel', lunch_path(@current_user.lunches.on(@date).first), method: :delete

  - if @current_user.lunches.on(@date).first.group.present?
    .card
      %h3 Your Virtuel Coffee Break Group
      %br
      .flex
        .w50
          %span.tstrong
            Time:
          15:00 - 15:30

        .w50
          %ul
            - @current_user.lunches.on(@date).first.group.lunches.each do |lunch|
              %li
                = lunch.user.name
                - if lunch.user == @current_user.lunches.on(@date).first.group.leader
                  (Teamlead)



- if @day_ok

  .margin
    - if @date.future?
      You will get more information at #{@date - 1.day} at 18:00.
    - else @date.today? && @can_register
      You can still sign up for today until 11:00!

- if @date.wednesday?
  %br

  %h2 Who else plays the roulette for #{@date}:

  %br

  .tcenter
    - count = 0
    %table.margin
      %tr
        %th.mini
        %th.smaller Name
        %th.half Status

      - @other_lunches.each do |lunch|
        %tr
          %td.mini= count += 1
          %td.smaller
            = lunch.user.name
            = link_to 'Cancel', lunch_path(lunch), method: :delete if lunch.user == @current_user
          %td.half
            %span.status{class: lunch&.confirmed? && 'confirmed'}= lunch.status
