<!DOCTYPE html>
<html>
  <head>
    <title>Lunchroulette</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="page">
      <div class="content">

        <h1>CrowdDesk Lunch Roulette</h1>
        <% flash.each do |key, value| %>
          <div class="flash margin"><%= value %></div>
        <% end %>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
