!!!
%html
  %head
    %title
      BreakRoulette
    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    .page
      .content
        - flash.each do |key, value|
          .box.margin{class: key}= value

        %h1
          portagon (Virtual) Break Roulette

        = yield
